.btn-text-red {
  font-family: var(--typo-control-font-family-bert);
  font-weight: 500;
  font-size: 24px;
  display: inline-block;
  border: none;
  transition: 0.5s;
  color: transparent;
  background: transparent;
  color: var(--nine-global-color-primary);
}

.btn-text-black {
  font-family: var(--typo-control-font-family-bert);
  font-weight: 500;
  font-size: 24px;
  display: inline-block;
  border: none;
  transition: 0.5s;
  color: transparent;
  background: transparent;
  color: var(--nine-global-color-primary-darkest);
}

@media (max-width: 768px) {
  .btn-text-red {
    font-size: 16px;
  }

  .btn-text-black {
    font-size: 16px;
  }

  .logo {
    justify-self: center;
    min-width: 60px;
  }
}

@media (max-width: 415px) {
  .btn-text-red {
    font-size: 14px;
  }

  .btn-text-black {
    font-size: 14px;
  }
}

.btn-text.disable {
  color: black;
}

.btn-text-block {
  padding-left: 38px;
}
