@media (min-width: 1199.98px) {
  #hero button {
    margin-top: 16px;
    margin-bottom: 87px;
    padding: 17px 28px 17px 28px;
  }
}

@media (max-width: 991px) {
  #order .btn-active button {
    border-radius: 5px;
    font-size: 16px;
  }

  #order .btn-active {
    min-width: 290px;
  }
}

@media (max-width: 415px) {
  #order .btn-active {
    min-width: 100%;
  }
}
