#hero-contact .contact-info {
  padding: 50px 0px 0px 0px;
  background: var(--nine-global-color-background-light);
  height: 668px;
  max-width: 650px;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  text-align: start;
}

#hero-contact h1 {
  font-family: var(--typo-control-font-family-nunito-bold);
  font-size: 28px;
  line-height: 58px;
}

#hero-contact h2 {
  font-family: var(--typo-control-font-family-nunito-bold);
  font-size: 40px;
  line-height: 60px;
}

#hero-contact h6 {
  font-family: var(--typo-control-font-family-bert);
  font-size: 20px;
  line-height: 26.38px;
}

#hero-contact p {
  font-family: var(--typo-control-font-family-nunito);
  font-size: 23px;
  line-height: 31.37px;
}

#hero-contact li {
  font-family: var(--typo-control-font-family-bert);
  font-size: 20px;
  line-height: 46.37px;
}

.adress-container {
  padding: 60px 60px 60px 60px;
}

#hero-contact .column {
  float: left;
  width: 50%;
}

#hero-contact .row:after {
  content: "";
  display: table;
  clear: both;
}

#block-apear-ipad .child-box img {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

#column-2 .contact-info-block-2 {
  padding-top: 40px;
  padding-left: 40px;
}

#map-contact-desktop .container {
  padding-bottom: 40px;
}

@media (max-width: 992px) {
  #contact-page section {
    padding-top: 80px;
  }
}

@media (max-width: 992px) {
  #map-contact-desktop {
    display: none;
  }
  #column-2 .column {
    display: none;
  }

  #hero-contact .column {
    width: 100%;
  }

  #hero-contact .contact-info {
    text-align: center;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
    height: 100%;
  }
}

@media (max-width: 768px) {
  #hero-contact h1 {
    font-size: 23px;
    line-height: 31px;
  }

  #hero-contact h6 {
    font-family: var(--typo-control-font-family-bert);
    font-size: 16px;
    line-height: 26.38px;
  }

  #hero-contact p {
    font-family: var(--typo-control-font-family-bert);
    font-size: 16px;
    line-height: 22px;
  }

  #hero-contact li {
    font-size: 16px;
    line-height: 21px;
  }

  #block-apear-ipad img {
    width: 246px;
  }
}

#block-apear-ipad h2 {
  font-size: 23px;
  line-height: 31px;
  text-align: center;
}

@media (min-width: 992.2px) {
  .block-apear-ipad {
    display: none;
  }
}

@media (max-width: 576px) {
  #hero-contact .container {
    max-width: 1000px;
  }
}

#footer .footer-bottom {
  padding-top: 30px;
}

@media (max-width: 992px) {
  .adress-container {
    padding: 0px 0px 50px 0px;
  }
  .block-apear-ipad h2 {
    padding: 50px 0px 0px 0px;
  }
}

