#hero-contact .contact-info {
  padding: 50px 0px 0px 0px;
  background: #fefefe;
  height: 668px;
  width: 650px;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
}

#hero-contact h1 {
  font-family: "Nunito Sans SemiBold", sans-serif;
  font-size: 28px;
  line-height: 58px;
}

#hero-contact h2 {
    font-family: "Nunito Sans SemiBold", sans-serif;
    font-size: 40px;
    line-height: 60px;
  }

#hero-contact h6 {
  font-family: "Bert Sans", sans-serif;
  font-size: 20px;
  line-height: 26.38px;
}

#hero-contact p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 23px;
  line-height: 31.37px;
}

#hero-contact li {
    font-family: "Bert Sans", sans-serif;
    font-size: 20px;
    line-height: 46.37px;
  }

.adress-container {
  padding: 60px;
}

#hero-contact .column {
  float: left;
  width: 50%;
}

#hero-contact .row:after {
  content: "";
  display: table;
  clear: both;
}

#column-2 .contact-info-block-2 {
    padding-top: 40px;
    padding-left: 40px;
}

#map-contact .container {
    padding-bottom: 40px;
}

@media (max-width: 1400px) {
    
}