#docs-page {
  background-color: #f5f5f5;
}

#hero-docs h1 {
  padding-top: 61.5px;
  font-family: "Nunito Sans SemiBold", sans-serif;
  font-size: 60px;
}

#docs-page h6 {
  padding-top: 250px;
  font-family: "Nunito Sans" sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #b5b5b5;
}

#hero-docs p {
  font-family: "Bert Sans", sans-serif;
  font-size: 18px;
  line-height: 31px;
}

#hero-docs .container {
  padding-top: 110px;
}

.plain-block {
  max-width: 1366px;
  height: 650px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background: #fefefe;
  padding: 30px;
  -webkit-box-shadow: 0 4px 20px 0px rgb(0 0 0 / 15%);
  -moz-box-shadow: 0 4px 20px 0px rgb(0 0 0 / 15%);
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 15%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 50px;
  border: 1 solid #ccc9c9;
}

@media (max-width: 992px) {
  #hero-docs .container {
    padding-top: 0px;
  }

  #hero-docs h1 {
    padding-top: 0px;
    font-size: 23px;
    line-height: 37.37px;
    text-align: center;
  }

  #docs-page h6 {
    padding-top: 250px;
    font-family: "Nunito Sans" sans-serif;
    font-size: 20px;
    color: #b5b5b5;
  }

  #hero-docs p {
    font-family: "Bert Sans", sans-serif;
    font-size: 16px;
    line-height: 27.2px;
    text-align: center;
  }
}
