@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/nunito-sans/NunitoSans-Regular.ttf") format("truetype");
}

/* TODO: Руководителю: Проверить в лицензии право на коммерческое использование этого шрифта*/
@font-face {
  font-family: "Bert Sans";
  src: url("../font/bert-sans/BertSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans SemiBold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../font/nunito-sans/NunitoSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Bert Sans SemiBold";
  src: url("../font/bert-sans/BertSans-SemiBold.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
}
#service-page section:nth-child(3) {
  padding: 0px;
  padding-top: 100px;
}
#service-page section:nth-child(3) {
  background: #f5f5f5;
}
.mySwiper {
  display: none;
}
.send {
  background: #e72e20;
  width: 50% !important;
  border-radius: 40px;
  margin-top: 15px;
  padding: 15px 30px;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 600;
}

.send:hover {
  background: #fff;
  color: #e72e20;
  border: 1px solid #e72e20;
}

#order {
  margin-top: 10px;
  margin-right: 10px;
  width: 38%;
  background: #f5f5f5;
  font-family: "Nunito Sans", sans-serif;
  padding: 35px 35px;
  height: 100%;
  border-radius: 50px;
}

.order-img img {
  width: 100%;
}

#span {
  color: #e72e20;
}

#order input::placeholder {
  /* font-weight: 600; */
  color: #000;
} 

#order input:focus::placeholder {
  color: transparent;
}

#order input {
  border: 1px solid #f5f5f5;
  margin: 10px 0;
  padding: 14px 20px;
}

/*
* поменять border color при фокусе
*/
#order input:focus {
  outline-color: #e72e20;
}

.custom-select {
  position: relative;
  background: #fefefe;
  font-weight: 600;
  width: 100% !important;
  margin-bottom: 10px;
}

.custom-select select {
  display: none;
}

.custom-select:active {
  border-bottom-right-radius: 30px;
}

.select-selected {
  border: none;
  position: relative;
  appearance: none;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  right: 15px;
  top: 25px;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 20px;
}

/* style the items (options), including the selected item: */
.select-selected {
  color: #000;
  padding: 15px 10px;
  cursor: pointer;
}
.select-items div {
  padding: 12px 16px;
}

/* Style items (options): */
.select-items {
  width: 100%;
  position: absolute;
  cursor: pointer;
  background: #fefefe;
  margin-top: -12px;
  padding-bottom: 20px;
  padding-top: 10px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #000;
  top: 100%;
  left: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.frame {
  width: 60%;
}

.first-text h2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 60px;
}

.service-main {
  display: flex;
  margin-top: 40px;
}
.service-div {
  width: 33%;
  padding: 40px;
  border-radius: 50px;
}
.service-div p {
  font-size: 30px;
}
.service-div:nth-child(1) {
  margin-right: 50px !important;
}
.service-div:nth-child(2) {
  margin-right: 50px !important;
}
.service-div img {
  width: 65%;
}
.service-div img:nth-child(2) {
  margin-top: 20px;
}
.img-div img {
  margin-left: 200px;
  width: 35%;
}

.second-text {
  width: 80%;
}
.second-text h2 {
  margin-bottom: 40px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 60px;
  margin-top: 100px;
}
.second-text p {
  font-family: "Bert Sans";
  font-size: 18px;
}
.third-text {
  float: right;
  margin-bottom: 100px;
  width: 60%;
}
.third-text h2 {
  margin-bottom: 40px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 60px;
  margin-top: 100px;
  text-align: right;
}
.third-text p {
  text-align: right;
  font-family: "Bert Sans";
  font-size: 18px;
}
.third-text p {
  text-align: right;
  margin-bottom: 30px;
}

@media (max-width: 1399px) and (min-width: 1200px) {
  .order-img img {
    width: 100%;
  }
  #order {
    margin-top: 10px;
    margin-right: 10px;
    width: 30%;
    padding: 25px 25px;
    height: 100%;
  }
  #span {
    color: #e72e20;
  }
  #order input {
    font-size: 15px;
    border: none;
    margin: 7px 0;
    padding: 10px 15px;
  }
  #order h2 {
    font-size: 20px !important;
  }
  #order p {
    font-size: 15px !important;
  }
  .order-img {
    width: 70%;
  }
  .custom-select {
    width: 100% !important;
    margin-bottom: 7px;
    font-size: 15px;
  }
  /* Style the arrow inside the select element: */
  .select-selected:after {
    right: 15px;
    top: 20px;
  }

  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #000 transparent;
    top: 15px;
  }

  /* style the items (options), including the selected item: */
  .select-selected {
    padding: 10px 5px;
  }
  .select-items div {
    padding: 7px 16px;
  }

  /* Style items (options): */
  .select-items {
    padding-top: 10px;
  }
  .send {
    width: 60%;
    padding: 10px !important;
    font-size: 15px;
  }

  #service-page section:nth-child(3) {
    padding-top: 80px;
  }
  .service-main {
    display: flex;
    margin-top: 40px;
  }
  .service-div {
    width: 33%;
    padding: 0px 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 50px;
  }
  .service-div p {
    font-size: 30px;
  }
  .service-div img {
    width: 60%;
  }
  .service-div img:nth-child(2) {
    margin-top: 10px !important;
  }
  .img-div img {
    margin-left: 180px;
    width: 33%;
  }
  .first-text h2 {
    font-size: 50px !important;
  }
  .second-text h2 {
    font-size: 50px !important;
  }
  .third-text h2 {
    font-size: 50px !important;
    margin-top: 80px;
  }
}

@media (max-width: 1199px) and (min-width: 991px) {
  #order {
    margin-top: 10px;
    margin-right: 10px;
    width: 33%;
    padding: 15px 15px;
    border-radius: 35px;
  }
  #order input {
    font-size: 13px;
    margin: 7px 0;
    padding: 7px 15px;
  }
  #order h2 {
    font-size: 18px !important;
  }
  #order p {
    font-size: 13px !important;
    line-height: 20px;
  }
  .order-img {
    width: 70%;
  }
  .custom-select {
    width: 100% !important;
    margin-bottom: 5px;
    font-size: 13px;
  }
  /* Style the arrow inside the select element: */
  .select-selected:after {
    right: 15px;
    top: 16px;
  }

  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #000 transparent;
    top: 8px;
  }

  /* style the items (options), including the selected item: */
  .select-selected {
    padding: 7px 5px;
  }
  .select-items div {
    padding: 6px 16px;
  }

  /* Style items (options): */
  .select-items {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -7px;
  }
  .send {
    width: 60%;
    padding: 10px !important;
    font-size: 13px;
  }

  #service-page section:nth-child(3) {
    padding-top: 50px;
  }
  .first-text h2 {
    font-size: 50px;
  }
  .service-main {
    display: flex;
    margin-top: 40px;
  }
  .service-div {
    width: 33%;
    padding: 0px 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
  }
  .service-div p {
    font-size: 30px;
  }
  .service-div img {
    width: 60%;
  }
  .service-div img:nth-child(2) {
    margin-top: 10px !important;
  }
  .img-div img {
    margin-left: 150px;
    width: 33%;
  }
  .second-text h2 {
    font-size: 50px;
  }
  .third-text h2 {
    font-size: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #service-page section:nth-child(2)  {
    overflow: visible;
    padding: 60px 0px;
  }
  #service-page section:nth-child(3) {
    padding: 60px 0px;
  }
  .send {
    width: 48% !important;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 10px !important;
    margin: auto;
    }
    #order {
      width: 100%;
      background: #FEFEFE;
    }
    .order-img img{
      display: none;
    }
    .form {
      display: flex !important;
      flex-wrap: wrap;
    }
    #order input {
      width: 48%;
      border-radius: 5px !important;
      background: #F5F5F5;
    }
    #order h2 {
      width: 35%;
      margin: auto;
      padding-bottom: 20px;
    }
    #order p {
      width: 90%;
      margin: auto;
      padding-bottom: 20px;
    }
    #order input:nth-child(2) {
      margin-left: 20px;
    }
    #order input:nth-child(4) {
      margin-left: 20px;
    }
    input::placeholder {
      font-weight: 500;
    }
    
    .custom-select {
      background: #F5F5F5;
      font-weight: 500;
      width: 48% !important;
      border-radius: 5px !important;
      margin-top: 10px !important;
    }
    .select-selected {
      padding: 15px 10px;
    }
    
    /* Style items (options): */
    .select-items {
      background: #F5F5F5;
      border-radius: 5px;
    }
    /* Hide the items when the select box is closed: */
    .select-hide {
      display: none;
    }
  .first-text h2 {
    font-size: 23px;
    font-weight: 600;
    text-align: center;
  }

  .service-main {
    display: flex;
    margin-top: 30px;
  }
  .service-div {
    width: 33%;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
  }
  .service-div p {
    font-size: 15px !important;
    font-weight: 600;
  }
  .service-div img {
    width: 60%;
  }
  .service-div img:nth-child(2) {
    margin-top: 0px !important;
  }
  .img-div img {
    margin-left: 100px;
    width: 30%;
  }
  .second-text {
    margin-top: 64px !important;
    padding: 0 10px;
    margin: auto;
  }
  .second-text h2 {
    font-size: 23px !important;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
  }
  .second-text p {
    font-size: 16px;
    text-align: center;
  }
  .third-text {
    margin-top: 70px !important;
    margin: auto;
    float: none;
    width: 80%;
  }
  .third-text h2 {
    font-size: 23px !important;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
  }
  .third-text p {
    font-size: 16px;
    text-align: left;
  }
}

@media (min-width: 599px) and (max-width: 768px) {
  .container {
    max-width: none !important;
  }
  #service-page section:nth-child(2)  {
    overflow: visible;
    padding: 60px 0px;
  }
  #service-page section:nth-child(3) {
    padding: 60px 0px;
  }
  .send {
    width: 48% !important;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 10px !important;
    margin: auto;
    }
    #order {
      width: 100%;
      background: #FEFEFE;
      padding: 35px 0px;
    }
    .order-img img{
      display: none;
    }
    .form {
      display: flex !important;
      flex-wrap: wrap;
    }
    #order input {
      width: 48%;
      border-radius: 5px !important;
      background: #F5F5F5;
    }
    #order h2 {
      width: 35%;
      margin: auto;
      padding-bottom: 20px;
    }
    #order p {
      width: 90%;
      margin: auto;
      padding-bottom: 20px;
    }
    #order input:nth-child(2) {
      margin-left: 20px;
    }
    #order input:nth-child(4) {
      margin-left: 20px;
    }
    input::placeholder {
      font-weight: 500;
    }
    
    .custom-select {
      background: #F5F5F5;
      font-weight: 500;
      width: 48% !important;
      border-radius: 5px !important;
      margin-top: 10px !important;
    }
    .select-selected {
      padding: 15px 10px;
    }
    
    /* Style items (options): */
    .select-items {
      background: #F5F5F5;
      border-radius: 5px;
    }
    /* Hide the items when the select box is closed: */
    .select-hide {
      display: none;
    }
  .first-text h2 {
    font-size: 23px;
    font-weight: 600;
    text-align: center;
  }
  
  .service-main {
    display: flex;
    margin-top: 30px;
  }
  .service-div {
    width: 40%;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
  }
  .service-div p {
    font-size: 13px !important;
    font-weight: 600;
  }
  .service-div img {
    width: 70%;
  }
  .service-div img:nth-child(2) {
    margin-top: 0px !important;
  }
  .service-div:nth-child(1) {
    margin-right: 30px !important;
  }
  .service-div:nth-child(2) {
    margin-right: 30px !important;
  }
  .img-div img {
    margin-left: 90px;
    width: 30%;
  }
  .second-text {
    margin-top: 64px !important;
    padding: 0 10px;
    margin: auto;
  }
  .second-text h2 {
    font-size: 23px !important;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
  }
  .second-text p {
    font-size: 16px;
    text-align: center;
  }
  .third-text {
    margin-top: 70px!important;
    margin: auto;
    float: none;
    width: 80%;
  }
  .third-text h2 {
    font-size: 23px !important;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
  }
  .third-text p {
    font-size: 16px;
    text-align: left;
  }
}


@media (max-width: 599px) {
  #service-page section:nth-child(2)  {
    padding: 60px 0px;
  }
  #service-page section:nth-child(3)  {
    padding: 60px 0px;
  }
  .send {
    width: 100% !important;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 10px !important;
    margin: auto;
  }
  #order {
    width: 100%;
    background: #FEFEFE;
    padding: 35px 0px;
  }
  .order-img img{
    display: none;
  }
  .form {
    display: flex !important;
    flex-wrap: wrap;
  }
  #order input {
    width: 100%;
    border-radius: 5px !important;
    background: #F5F5F5;
  }
  
  #order h2 {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
  }
  #order p {
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
  }
  #order input:nth-child(2) {
    margin-left: 0px;
  }
  #order input:nth-child(4) {
    margin-left: 0px;
  }
  input::placeholder {
    font-weight: 500;
  }
  
  .custom-select {
    background: #F5F5F5;
    font-weight: 500;
    width: 100% !important;
    border-radius: 5px !important;
    margin-top: 10px !important;
  }
  .select-selected {
    padding: 15px 10px;
  }
  
  /* Style items (options): */
  .select-items {
    background: #F5F5F5;
    border-radius: 5px;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  .first-text h2 {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
  }

  .service-main {
    display: none;
  }
  .mySwiper {
    display: block;
  }
  .second-text {
    margin-top: 64px !important;
    padding: 0 10px;
    margin: auto;
    width: 100%;
  }
  .second-text h2 {
    font-size: 23px !important;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
  }
  .second-text p {
    font-size: 16px;
    text-align: center;
  }
  .third-text {
    margin-top: 70px !important;
    margin: auto;
    float: none;
    width: 100%;
  }
  .third-text h2 {
    font-size: 23px !important;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
  }
  .third-text p {
    font-size: 16px;
    text-align: left;
  }
  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .service-div {
    width: 100%;
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
  }
  .service-div p {
    font-size: 23px !important;
    font-weight: 600;
    text-align: center;
  }
  .service-div img {
    width: 50%;
    margin: auto;
  }
  .service-div img:nth-child(2) {
    margin-top: 0px !important;
  }
  .img-div img {
    float: right;
    padding-right: 20px;
    width: 25%;
  }
}
