.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--nine-global-color-background-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: var(--nine-global-color-background-light);
  opacity: 1;
  border: 1px solid var(--nine-global-color-primary);
  background-color: var(--nine-global-color-background-light);
}

.swiper-pagination-bullet-active {
  color: var(--nine-global-color-background-light);
  background: var(--nine-global-color-primary);
}

.swiper-pagination {
  padding-left: 20px;
  margin-left: calc(-30% - 0.5rem);
}

#mobile-slider-service .swiper-pagination {
  padding-left: 50px;
  margin-left: calc(-46% - 0.5rem);
}

.swiper-wrapper{
  padding-bottom: 50px;
}