.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 0px;
  color: #000000;
  white-space: nowrap;
  transition: 0.3s;
  font-family: "Bert Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
}

.navbar a:hover,
.navbar .active-text,
.navbar .active-text:focus,
.navbar li:hover > a {
  color: var(--nine-global-color-primary);
}