/* @import "theme/fonts.css"; */
@import "sections/navbar.css";
@import "sections/hero.css";
@import "sections/calc.css";
@import "sections/service.css";
@import "sections/tabs.css";
@import "widgets/slider.css";
@import "widgets/swiper.css";
@import "sections/map.css";
@import "sections/footer.css";
@import "sections/hero-about.css";
@import "sections/partners.css";
@import "pages/contact.css";
/*--------------------------------------------------------------
  # Fonts
  --------------------------------------------------------------*/

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/nunito-sans/NunitoSans-Regular.ttf") format("truetype");
}

/* TODO: Руководителю: Проверить в лицензии право на коммерческое использование этого шрифта*/
@font-face {
  font-family: "Bert Sans";
  src: url("../font/bert-sans/BertSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans SemiBold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../font/nunito-sans/NunitoSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Bert Sans SemiBold";
  src: url("../font/bert-sans/BertSans-SemiBold.ttf") format("truetype");
}

body {
  font-family: "Nunito Sans", sans-serif;
}

p {
  font-family: "Nunito Sans", sans-serif;
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  color: #000000;
}

h5 {
  font-family: "Bert Sans", sans-serif;
  font-weight: 800;
}

a {
  color: #000000;
  font-weight: 400;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: "Nunito Sans", sans-serif;
}

.active-text {
  color: #e72e20;
}


hr {
  border: none; /* Убираем границу */
  background-color: black; /* Цвет линии */
  color: black; /* Цвет линии для IE6-7 */
  height: 0px; /* Толщина линии */
  border: 1px solid black;
}

.btn-active button {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  padding: 15px 35px 15px 35px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #e72e20;
  border: 2px solid #fff;
  min-width: 100%;
}

.btn-active-hidden button {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  padding: 15px 35px 15px 35px;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
  background: #e72e20;
  border: 2px solid #fff;
  min-width: 100%;
}

.btn-active-hidden:hover button {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  padding: 15px 35px 15px 35px;
  border-radius: 5px;
  transition: 0.5s;
  color: #e72e20;
  background: #fff;
  border: 2px solid #e72e20;
  min-width: 100%;
}

.btn-active:hover button {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  padding: 15px 35px 15px 35px;
  border-radius: 50px;
  transition: 0.5s;
  color: #e72e20;
  background: #fff;
  border: 2px solid #e72e20;
  min-width: 100%;
}

.container {
  max-width: 1366px;
}

.container-for-center {
  height: 82px;
  position: relative;
}

.container-centred {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.calc-white-container {
  padding: 40px;
  background: #fff;
  border-radius: 60px;
  width: 435px;
  height: 430px;
}



.spacer-h30 {
  width: 300px;
}

.spacer-right-hor-30 {
  box-sizing: border-box;
  border: 15px solid transparent;
  background-clip: padding-box;
}

.spacer-left-hor-30 {
  box-sizing: border-box;
  border-left: 30px solid transparent;
  background-clip: padding-box;
}

.front-m1 {
  z-index: -1;
}

.front-m2 {
  z-index: -2;
}

.front-m3 {
  z-index: -3;
}

.front-m4 {
  z-index: -4;
}

.front-1 {
  z-index: 1;
}

.front-2 {
  z-index: 2;
}
.front-3 {
  z-index: 3;
}
.front-4 {
  z-index: 4;
}
.front-5 {
  z-index: 5;
}
.front-6 {
  z-index: 6;
}
.front-7 {
  z-index: 7;
}
.front-8 {
  z-index: 8;
}
.front-9 {
  z-index: 9;
}

.rotate {
  transform: rotate(-90deg);
}

.float-left {
  float: left;
}

.float-rigth {
  float: right;
  margin-right: 66px;
}

/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
section {
  padding: 158.5px 0px 30px 0px;
  overflow: hidden;
}

.line {
  border-bottom: 2px solid black;
  margin: 10px 0;
}

.col-aligncenter {
  float: none;
  margin: 0 auto;
}

/*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
.services .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
}

.services .icon-box .icon {
  margin-bottom: 10px;
}

.services .icon-box .icon i {
  color: #e72e20;
  font-size: 36px;
  transition: 0.3s;
}

.services .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #37517e;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  transform: translateY(-10px);
}

.services .icon-box:hover h4 a {
  color: #e72e20;
}

/*--------------------------------------------------------------
  # Cta
  --------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)),
    url("../img/cta-bg.jpg") fixed center center;
  background-size: cover;
  padding: 120px 0;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #e72e20;
  border: 2px solid #e72e20;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
  # Portfolio
  --------------------------------------------------------------*/
.portfolio #portfolio-flters {
  list-style: none;
  margin-bottom: 20px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: #e72e20;
  color: #fff;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
  transition: all 0.6s;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: 3;
  right: 15px;
  transition: all 0.3s;
  background: rgba(55, 81, 126, 0.8);
  padding: 10px 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #f9fcfe;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #fff;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #e72e20;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img {
  transform: scale(1.15);
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 20px;
  color: #e72e20;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
}

.contact .info p {
  padding: 0 0 10px 60px;
  /* margin-bottom: 20px; */
  font-size: 14px;
  color: #6182ba;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #e72e20;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #e72e20;
  color: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 34px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #e72e20;
}

.contact .php-email-form input {
  height: 61px;
  background-color: #f5f5f5;
}

.first-row .container {
  min-width: 160px;
}

.second-row .container {
  min-width: 300px;
}

#contact-container-form {
  max-width: 1296; /* depends how much minimum width you require */
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

