@media (min-width: 415.2px) {
  #hero .shows-mobile {
    display: none;
  }
}

@media (max-width: 415px) {
  #hero .shows-desktop {
    display: none;
  }
}

@media (max-width: 600px) {
  #hero .hide-on-mobile,
  #hero .img-shows-on-desktop {
    display: none;
  }

  #hero .active-text {
    font-family: var(--typo-control-font-family-nunito);
    font-size: 30px;
    line-height: 55px;
    color: rgb(231, 46, 32);
    margin-bottom: -15px;
  }
}

@media (min-width: 600.1px) {
  #hero .img-shows-on-mobile {
    display: none;
  }



  #hero .shows-mobile p {
    padding-bottom: 0px;
  }
}
