/*--------------------------------------------------------------
  # Calc Form
  --------------------------------------------------------------*/

@media (max-width: 991.8px) {
  #calc-form .btn-active button {
    border-radius: 5px;
    /* min-width: 100%; */

    font-size: 16px;
    padding: 15px 5px 15px 5px;
  }
}

@media (max-width: 1199.98px) {
  #calc-form .row-cols-5 > * {
    flex: 0 0 auto;
    width: 33%;
  }

  #calc-form .php-email-form {
    padding: 46px 0px 65px 20px;
  }

  #calc-form .shadows {
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.15);
  }

  #calc-form .btn-active button {
    border-radius: 5px;
    /* min-width: 260px; */
  }
}

@media (max-width: 731.98px) {
  #calc-form .row-cols-5 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  #calc-form .btn-active button {
    display: none;
  }
}

@media (min-width: 731.98px) {
  #calc-form .new-row-btn {
    display: none;
  }
}

@media (max-width: 731.98px) {
  #calc-form .btn-active-hidden {
    /* flex: 0 0 auto; */
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 20px;
  }

  #calc-form .row > * {
    padding-right: 0px;
    padding-left: 0px;
  }

  #calc-form .php-email-form {
    width: 104%;
    padding: 46px 2px 65px 2px
  }

  #calc-form .col {
    padding: 0px 5px 0px 5px !important;
  }

  #calc-form .col-md-3 {
    padding: 0px 5px 0px 5px;
  }

  #calc-form .row-padding {
    padding: 0px 0px 0px 22px;
  }
}

/*--------------------------------------------------------------
  # Calc
  --------------------------------------------------------------*/

.contact .shadows {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

#calc-form label {
  padding-top: 34px;
}

#calc {
  width: 100%;
  background: #f5f5f5;
}

#calc .container {
  padding-top: 290px;
}

#calc .calc-container {
  max-width: 65%;
}

#calc .haed-calc-container {
  height: 82px;
  position: relative;
}

#calc-form label {
  padding-top: 34px;
}

#calc .haed-calc-container-centred {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#calc .container-icon {
  max-height: 15%;
}

#calc .rounded-xl {
  border-radius: 2rem;
}

#calc h1 {
  margin: 0 0 10px 0;
  font-size: 1 em;
  font-weight: 600;
  line-height: 54.56px;
  color: #000000;
}

#calc .active {
  color: #e72e20;
}

#calc h2 {
  color: #000000;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 600;
}

#calc h3 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: 600;
  line-height: 40.92px;
  color: #000000;
}

#calc .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}

#calc .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}

#calc .calc-img-background-bottom {
  background: url("../img/frame.png") right bottom no-repeat;
  /* margin-right: 40px; Отступ справа */
  margin-top: 60px;
  margin-left: 100px;
  /* width: 100%; */
  height: 90px;
  padding: 0px 0px 0px 0px;
}

#calc .calc-img-background-top {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  height: 50%;
}

#calc .frame-position {
  position: relative;
}

#calc .relative-right-frame {
  position: relative;
  bottom: 330px;
  float: right;
  margin-right: -36px;
}

#calc .relative-left-frame {
  position: relative;
  float: left;
  margin-left: -80px;
  bottom: 370px;
}

#calc .frame {
  background-image: url("../img/frame.png") no-repeat;
}

@media (max-width: 991px) {
  #calc {
    text-align: left;
  }

  #calc .calc-img {
    text-align: center;
  }

  #calc .calc-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #calc h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #calc h2 {
    font-size: 40px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #calc h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #calc .calc-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #calc .calc-img img {
    width: 80%;
  }

  #calc .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
  # Calc Form
  --------------------------------------------------------------*/

.form h4 {
  font-weight: 600;
  font-size: 23px;
  line-height: 31px;
  color: #e72e20;
}

.form label {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #e72e20;
}

.form .btn-active button {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  padding: 15px 35px 15px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 29.5px 0 0 0;
  color: #fff;
  background: #e72e20;
  border: 2px solid #fff;
  width: 100%;
}

.form .btn-active:hover button {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  padding: 15px 35px 15px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 29.5px 0 0 0;
  color: #e72e20;
  background: #fff;
  border: 2px solid #e72e20;
  /* min-width: 203px; */
}
