/*--------------------------------------------------------------
  # Calc Form
  --------------------------------------------------------------*/
#calc-form .active-text {
  color: var(--nine-global-color-primary);
}

#calc-form .center {
  text-align: center;
  align-items: center;
}

#calc-form h3 {
  font-weight: 600;
  font-size: 23px;
  line-height: 0px;
  color: #000000;
}

@media (min-width: 1199.98px) {
  #calc-form h3 {
    display: none;
  }

  #calc-form p {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  #calc-form h4 {
    display: none;
  }

  #calc h3 {
    font-weight: 600;
    font-size: 23px;
    line-height: 32px;
    color: #000000;
  }

  #calc-form .row-cols-5 > * {
    flex: 0 0 auto;
    width: 33%;
  }

  #calc-form .php-email-form {
    padding: 46px 0px 65px 20px;
  }

  #calc-form .php-email-form label {
    padding-top: 20px;
  }

  #calc-form .shadows {
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.15);
  }
}

@media (max-width: 731.98px) {
  #calc-form .row-cols-5 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  #calc-form .php-email-form label {
    padding-top: 10px;
  }
}

@media (max-width: 731.98px) {
  #calc-form .row > * {
    padding-right: 0px;
    padding-left: 0px;
  }

  #calc-form .php-email-form {
    width: 105%;
    padding: 46px 2px 65px 2px;
  }

  #calc-form .col {
    padding: 0px 5px 0px 5px !important;
  }

  #calc-form .col-md-3 {
    padding: 0px 5px 0px 5px;
  }

  #calc-form .row-padding {
    padding: 0px 0px 0px 22px;
  }
}

/*--------------------------------------------------------------
  # Calc
  --------------------------------------------------------------*/
/* * Положение по вертикали блока Онлайн калькулятор */
.contact .php-email-form {
  width: 100%;
  padding: 46px 117px 65px;
  background: var(--nine-global-color-background-light);
  box-shadow: 0 4 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  margin-bottom: -340px;
}

.contact .shadows {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

#calc-form label {
  padding-top: 34px;
}

#calc-form label {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
}

@media (max-width: 767.98px) {
  #calc-form label {
    font-size: 16px;
  }
}

@media (max-width: 731.98px) {
  #calc-form label {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
}

#calc-form input {
  font-weight: 400;
  font-size: 18px;
  color: #000;
  border-color: transparent;
}

#calc-form input:focus {
  font-weight: 400;
  font-size: 18px;
  color: #000;
  border-color: var(--nine-global-color-primary);
}

@media (max-width: 731.98px) {
  #calc-form input {
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #000;
  }

  #calc-form .php-email-form {
    border-radius: 0;
  }
}

#calc {
  width: 100%;
  background: var(--nine-global-color-background-dark);
}

#calc .container {
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

#calc .calc-container {
  max-width: 65%;
}

#calc .haed-calc-container {
  height: 82px;
  position: relative;
}

#calc-form label {
  padding-top: 34px;
}

#calc .haed-calc-container-centred {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#calc .container-icon {
  max-height: 15%;
}

#calc .rounded-xl {
  border-radius: 2rem;
}

#calc h1 {
  margin: 0 0 10px 0;
  font-size: 1 em;
  font-weight: 600;
  line-height: 54.56px;
  color: #000000;
}

#calc .active-text {
  color: var(--nine-global-color-primary);
}

#calc h2 {
  color: #000000;
  line-height: 82px;
  font-size: 60px;
  min-width: 400px;
}

#calc .calc-img-background-bottom {
  background: url("../../img/frame.png") right bottom no-repeat;
  margin-top: 60px;
  margin-left: 100px;
  height: 90px;
  padding: 0px 0px 0px 0px;
}

#calc .calc-img-background-top {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  height: 50%;
}

#calc .frame-position {
  position: relative;
}

#calc .relative-right-frame {
  position: relative;
  bottom: 330px;
  float: right;
  margin-right: -28px;
}

#calc .relative-left-frame {
  position: relative;
  float: left;
  margin-left: -86px;
  bottom: 370px;
}

#calc-form input::placeholder {
  font-size: 18px;
  line-height: 18px;
  color: #000;
}

#calc-form input:focus::placeholder {
  color: transparent;
}

#calc .frame {
  background-image: url("../img/frame.png") no-repeat;
}

@media (max-width: 991px) {
  #calc {
    text-align: left;
  }

  #calc .calc-img {
    text-align: center;
  }

  #calc .calc-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #calc h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #calc h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #calc .calc-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #calc .calc-img img {
    width: 80%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
  # Calc Form
  --------------------------------------------------------------*/

.form h4 {
  font-weight: 600;
  font-size: 23px;
  line-height: 31px;
  color: var(--nine-global-color-primary);
}

#calc .form label {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: var(--nine-global-color-primary);
}
