#footer .calc-white-container-cta {
  padding: 50px 45px 60px 45px;
  background: #fefefe;
  border-radius: 60px;
  width: 640px;
  /* height: 650px; */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
#footer .back-img {
  /* font-size: 14px; */
  background: url("../../img/footer-img.png") right no-repeat;
  padding-left: 10px;
  /* background-size: cover; */
  /* margin-right: 10px; */
}

#footer p {
  font-family: "Bert Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
  text-align: center;
}

#copyright p {
  font-family: "Bert Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25.5px;
  color: #000000;
  text-align: center;
}

#footer .active-text {
  color: #e72e20;
}

#footer h3 {
  font-family: "Nunito Sans SemiBold", sans-serif;
  margin: 0 0 10px 0;
  font-size: 28px;
  /* font-weight: 600; */
  line-height: 38px;
  color: #000000;
  text-align: center;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

#footer input {
  border: 0;
  margin-top: 6px;
  padding: 4px 8px;
  background-color: #f5f5f5;
  border-radius: 50px;
  height: 60px;
  padding-left: 20px;
  /* font-weight: 600; */
  font-size: 18px;
  /* text-decoration-color: #000000; */
  text-decoration: black;
}

#footer .btn-active button {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  padding: 15px 35px 15px 35px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #e72e20;
  border: 2px solid #fff;
  min-width: 203px;
  margin-top: 20px;
}

#footer .btn-active:hover button {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  padding: 15px 35px 15px 35px;
  border-radius: 50px;
  transition: 0.5s;
  color: #e72e20;
  background: #fff;
  border: 2px solid #e72e20;
  min-width: 203px;
  margin-top: 20px;
}

#footer input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #e72e20;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-top {
  padding: 100px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
  color: #5e5e5e;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #e72e20;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #e72e20;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
}

#footer .credits a {
  transition: 0.3s;
}

#copyright a {
  color: black;
  text-decoration: black;
}

#form-footer input::placeholder {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #000;
} 

#form-footer input:focus::placeholder {
  color: transparent;
}


#footer .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Nunito Sans", sans-serif;
  color: #000000;
  font-size: 18px;
  opacity: 1; /* Firefox */
}

#footer .form-control::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: "Nunito Sans", sans-serif;
  color: #000000;
  font-size: 18px;
  /* line-height: 31px; */
  opacity: 1; /* Firefox */
}

@media (max-width: 768px) {
  #footer h3 {
    font-size: 23px;
    /* font-weight: 600; */
    line-height: 31px;
  }

  #footer .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "Nunito Sans", sans-serif;
    color: #000000;
    font-size: 15px;
    opacity: 1; /* Firefox */
  }

  #footer .form-control::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: "Nunito Sans", sans-serif;
    color: #000000;
    font-size: 15px;
    /* line-height: 15px; */
    opacity: 1; /* Firefox */
  }

  #footer input {
    border-radius: 5px;
    color: black;
  }

  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }

  #footer .footer-img img {
    width: 70%;
  }

  #footer .calc-white-container-cta {
    box-shadow: 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background: #fefefe;
  }

  #footer .btn-active button {
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 84px 11px 84px;
    height: 50px;
  }

  #footer .btn-active:hover button {
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 84px 11px 84px;
    height: 50px;
  }

  #footer .footer-top {
    padding: 24px 0 50px 0;
}
}

@media (max-width: 575px) {
  #footer .footer img {
    width: 80%;
  }

  #footer .btn-send {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

