/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
#hero h1 {
  font-family: var(--typo-control-font-family-nunito);
  margin: 0 0 10px 0;
  font-size: 1 em;
  font-weight: 600;
  line-height: 55px;
  color: #000000;
}

#hero .line {
  padding-top: 10px;
}

#hero .active-text {
  font-family: var(--typo-control-font-family-nunito);
  font-size: 40px;
  line-height: 55px;
  color: var(--nine-global-color-primary);
  margin-bottom: -15px;
}

#hero p {
  padding-bottom: 7px;
  font-family: var(--typo-control-font-family-bert);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

#hero .space-between {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}

@media (min-width: 992px) {
  #hero .col-lg-7 {
    width: 52.33333333%;
  }

  #hero .section-title {
    display: block;
    min-width: 180px;
  }
}

@media (max-width: 991px) {
  #hero .space-between {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    align-self: center;
  }
}

@media (max-width: 991px) {
  #hero {
    text-align: center;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 .active-text {
    font-size: 23px;
    line-height: 31px;
  }

  #hero h1 {
    font-size: 23px;
    line-height: 31px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}


