#hero-about h1 {
  font-family: var(--typo-control-font-family-nunito-bold);
  font-size: 60px;
  line-height: 121.84px;
}

#hero-about p {
  font-family: var(--typo-control-font-family-bert);
  font-size: 18px;
  line-height: 31px;
}

#hero-about .container {
  padding-top: 110px;
}

@media (max-width: 992px) {
  #hero-about h1 {
    font-size: 23px;
    line-height: 37.37px;
    text-align: center;
  }

  #hero-about p {
    font-family: var(--typo-control-font-family-bert);
    font-size: 16px;
    line-height: 27.2px;
    text-align: center;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px !important;
  }
}
