/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
#hero {
  width: 100%;
  background: var(--nine-global-color-background-light);
}

#hero .hero-container {
  max-width: 130%;
  padding-right: 20px;
}

#hero h1 {
  font-family: var(--typo-control-font-family-nunito);
  margin: 0 0 10px 0;
  font-size: 1 em;
  font-weight: 600;
  line-height: 55px;
  color: #000000;
}

#hero .line {
  padding-top: 10px;
}

#hero .active-text {
  font-family: var(--typo-control-font-family-nunito);
  font-size: 40px;
  line-height: 55px;
  color: var(--nine-global-color-primary);
  margin-bottom: -15px;
  /* vertical-align: bottom; */
}

#hero button {
  margin-bottom: 95px;
}

#hero p {
  padding-bottom: 7px;
  font-family: var(--typo-control-font-family-bert);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: var(--nine-global-color-background-light);
  line-height: 1;
}

#hero .btn-watch-video i {
  line-height: 0;
  color: var(--nine-global-color-background-light);
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}

#hero .btn-watch-video:hover i {
  color: var(--nine-global-color-primary);
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

#hero .space-between {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}

@media (max-width: 1199.98px) {
  #hero button {
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  #hero .col-lg-7 {
    width: 52.33333333%;
  }

  #hero button {
    margin-top: 16px;
    margin-bottom: 87px;
    padding: 17px 28px 17px 28px;
  }

  #hero .section-title {
    display: block;
    min-width: 180px;
  }
}

@media (max-width: 991px) {
  #hero .space-between {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    align-self: center;
  }
}

@media (max-width: 991px) {
  #hero {
    text-align: center;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 .active-text {
    font-size: 23px;
    line-height: 31px;
  }

  #hero h1 {
    font-size: 23px;
    line-height: 31px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@media (max-width: 1199.98px) {
  #hero .btn-active button {
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }

  #hero .btn-active:hover button {
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}
