@media (min-width: 1920px) {
  #map h2 {
    font-size: 35px;
  }
}

#map button {
  background: url("../../img/picker.png") no-repeat;
  background-size: 31px;
  width: 35px;
  height: 53px;
  cursor: pointer;
  border: 2px solid transparent;
  background-color: transparent;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0);
}

#about-page section {
  padding-top: 100px;
}

#map .container {
  padding-top: 80px;
}

#map .btn-link {
  color: transparent !important;
  border-color: none;
}

#map .btn-link:hover {
  color: transparent !important;
  border-color: none;
}

#map .btn {
  color: transparent !important;
  border-color: aqua;
}
#map .description {
  max-width: 600px;
  margin: 0 auto;
  color: transparent(red, 0.3);
}

#map a:hover::before {
  text-transform: uppercase;
  text-decoration: none;
  color: green;
}

#map a:visited {
  /* color: blue; */
}

#map li.active:hover:active {
  color: white;
}

#map .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#map .centered-y {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

#map .distribution-map {
  position: relative;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

#map .distribution-map > img {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

#map .distribution-map .map-point {
  cursor: pointer;
  outline: none;
  z-index: 0;
  position: absolute;
}

#map .distribution-map .map-point .content {
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: overlay;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: #fefefe;
  color: #000000;
  font-size: 26px;
  font-family: "Bert Sans", sans-serif;
  position: absolute;
  padding: 20px 5px 2px 5px;
  bottom: 2.9em;
  left: -0.5em;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border-radius: 20px;
  z-index: 98;
  visibility: hidden;
  height: 80px;
  width: 230px;
  box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.1);
}

[data-title] {
  position: relative;
}

[cloud]:hover:before {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[cloud]:before {
  content: attr(cloud);
  position: absolute;
  bottom: 4.4em;
  left: -0.2em;
  box-shadow: 1px 1px 3px #222222;
  border-radius: 0px;
  z-index: 99;
  visibility: hidden;
  height: 50px;
  width: 50px;
  box-shadow: 0px 0 0px 0 rgba(0, 0, 0, 0);
  transform: rotate(248deg);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #fefefe;
}

[cloud] {
  position: relative;
}

@media (max-width: 992px) {
  #about-page section {
    padding-top: 0px;
  }

  .distribution-map {
    display: none;
  }

  #map .container {
    padding-top: 0px;
  }

  #map h2 {
    font-size: 23px;
    line-height: 37.37px;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .mobile-content {
    display: none;
  }
}
