#partners h3 {
  position: relative;
  font-size: 30px;
}

#about-page {
  background: #f5f5f5;
}

#partners .col-2 {
  width: 200px;
  height: 200px;
}

#swiper .col {
  width: 156px;
}

@media (min-width: 1200px) {
  #partners h2 {
    font-family: "Nunito Sans SemiBold", sans-serif;
    font-size: 35px;
    line-height: 47, 74px;
    font-weight: 600;
  }
}

@media (min-width: 938px) {
  #partners h3:before,
  #partners h3:after {
    display: inline-block;
    content: "";
    border-top: 0.075rem solid black;
    width: 35%;
    margin: 0 0.25rem;
    transform: translateY(-0.48rem);
  }
}

@media (max-width: 937.8px) {
  #partners h3 {
    font-size: 23px;
    line-height: 37.37px;
    text-align: center;
  }
}

#tab-partners {
  padding: 0px 40px 20px 40px;
}

#tab-partners img {
  padding: 20px;
  height: 204;
  width: 204;
}

.parent-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.child-box {
  width: 200px;
  background: #fefefe;
  position: relative;
  margin: 15px;
  border-radius: 20px;
}
/* 
    * чтобы изображения были единого формата, нужно исходники тоже привести в единую размерную сетку 
*/
.child-box img {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#swiper .container {
  width: 650px;
}

.container-desktop {
  max-width: 1380px;
  margin: auto;
}

.container-h3 {
  max-width: 1560px;
  margin: auto;
}

@media (max-width: 768px) {
  .distribution-map {
    display: none;
  }

  .hide-partner-tab {
    display: none;
  }

  #partners .child-box {
    max-height: 156px;
    width: 156px;
    margin: 12px;
    border-radius: 5px;
  }
}

@media (min-width: 768.2px) {
  #partners .mySwiper {
    display: none;
  }
}

@media (min-width: 768px) {
  line {
    display: inline-block;
    content: "";
    border-top: 0.075rem solid black;
    width: 100%;
    transform: translateY(-0.25rem);
    justify-self: center;
    margin-top: 46px;
  }

  #partners .container {
    max-width: 1440px;
  }
}

@media (min-width: 576px) {
  #partners .container {
    max-width: 588px;
  }
}

@media (max-width: 475px) {
  #partners .child-box {
    height: 140px;
    /* width: 140px; */
    margin: 5px;
    border-radius: 5px;
  }

  #partners .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 415px) {
  .hide-partner-tab-ipad {
    display: none;
  }
}

@media (min-width: 415px) {
  .hide-partner-tab-mobile {
    display: none;
  }
}