#calc section {
  padding: 460px 0px 30px 0px;
  overflow: hidden;
}

#calc .center {
  text-align: center;
}

#calc h3 {
  font-family: var(--typo-control-font-family-nunito-bold);
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: 500;
  line-height: 40.92px;
  color: #000000;
}

#calc .head-services-container {
  width: 100%;
}

#our-service .text-description {
  padding-left: 50px;
}

#our-service .desktop-head {
  padding-left: 22px;
}

@media (max-width: 768px) {
  #calc .calc-img img {
    width: 70%;
  }
}

/* 
*блок скрывается только на размерах меньше 1200px 
*/
@media (max-width: 1199.98px) {
  #calc .desktop-head {
    display: none;
  }

  #calc .clearfix {
    height: 30px;
  }

  #calc .width-100 {
    width: 100%;
  }

  #calc button {
    display: none;
  }

  #calc .text-description {
    display: none;
  }

  #calc h2 {
    font-weight: 600;
    font-size: 23px;
    line-height: 32px;
    color: #000000;
  }
}

/* 
*блок скрывается только на размерах больше 1200px 
*/
@media (min-width: 1199.98px) {
  #calc .mobile-head {
    display: none;
  }

  #calc .mobile-text-description {
    display: none;
  }

  #calc .container {
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }

  #calc .frame-position {
    padding-top: 300px;
  }
}
