/*
 * Any CSS included here will be global.
 */

/*--------------------------------------------------------------
  # Fonts
  --------------------------------------------------------------*/
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/nunito-sans/NunitoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bert Sans";
  src: url("../font/bert-sans/BertSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans SemiBold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../font/nunito-sans/NunitoSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Bert Sans SemiBold";
  src: url("../font/bert-sans/BertSans-SemiBold.ttf") format("truetype");
}


/*--------------------------------------------------------------
  # Variables
  --------------------------------------------------------------*/
:root {
  /* colors */
  --nine-global-color-primary: #e72e20; /* figma */
  --nine-global-color-primary-darkest: #000000; /* figma */
  --nine-global-color-background-light: #fefefe; /* figma */
  --nine-global-color-background-dark: #f5f5f5; /* figma */
  --nine-global-color-disactive-text: #b5b5b5; /* figma */
  
  /* text */
  --typo-control-font-family-nunito: "Nunito Sans", sans-serif; /* figma */
  --typo-control-font-family-bert: "Bert Sans", sans-serif; /* figma */
  --typo-control-font-family-nunito-bold: "Nunito Sans SemiBold", sans-serif; /* figma */
  --typo-control-font-family-bert-bold: "Bert Sans SemiBold", sans-serif; /* figma */
  --typo-control-size-s14-font-size: 14px;
  --typo-control-size-s15-font-size: 15px;
  --typo-control-size-s16-font-size: 16px;
  --typo-control-size-m17-font-size: 17px;
  --typo-control-size-m18-font-size: 18px;
  --typo-control-size-m23-font-size: 23px;
  --typo-control-size-l30-font-size: 30px;
}

/*--------------------------------------------------------------
  # Main Styles
  --------------------------------------------------------------*/
body {
  font-family: var(--typo-control-font-family-nunito);
}

p {
  font-family: var(--typo-control-font-family-nunito);
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  color: #000000;
}

h5 {
  font-family: var(--typo-control-font-family-bert);
  font-weight: 800;
}

a {
  color: #000000;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: var(--typo-control-font-family-nunito);
}

.active-text {
  color: var(--nine-global-color-primary);
}
