@import "../../../../theme/theme.css";
/*--------------------------------------------------------------
  # Navbar burger animadet
--------------------------------------------------------------*/

#navbar label {
  display: flex;
  flex-direction: column;
  width: 27px;
  cursor: pointer;
}

label span {
  background: var(--nine-global-color-primary);;
  height: 2px;
  margin: 3px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  width: 80%;
  transform: rotatez(45deg) translate(3.3px, 8.7px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  width: 0%;
  transform: rotatez(-45deg);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 80%;
  transform: translate(-2px, -7.5px) rotatez(-45deg);
}

.rotate-box {
  transform: rotate(180deg);
}
